#abt {
    background-color: #1f1f1f;
    height: 1000px;
    width: 1600px;
    position: fixed;
}

#abtPic {
    background-image: url('../Style/pics/ME.jpg');
   background-position: absolute;
   margin-top: 300px;
   margin-left: 400px;
   background-repeat: no-repeat;
   background-size: 40%;
   height: 700px;
   transform: rotate(90deg);
}

#title {
    font-family: batmanforeveralternate;
    font-size: 60px;
    text-shadow: 3px 2px 6px black;
    text-align: center;
}

#abtMeDesc {
    width: 800px;
    margin-left: 100px;
    position: absolute;
    top: 200px;
    text-align: center;
}