input[type=text]:focus {
    border: 1px solid lightblue;
    border-radius: 4px;
}
input {
    width: 100px;
    margin: 10px;
    border: 0;
    background: #37393b;
    height: 50px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #8d8d8d;
    padding: 0 20px;
}

textarea {
    max-width: 660px;
    min-width: 670px;
    margin: 10px;
    border: 0;
    background: #37393b;
    min-height: 200px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #8d8d8d;
    padding: 10px 15px;
    box-sizing: border-box;
}

textarea[type=text]:focus {
    border: 1px solid lightblue;
    border-radius: 4px;
}

#nameForm {
    width: 670px;
}

#emailForm{
    width: 670px;
}

 #field {
     background-color: #282828;
     margin-top: 200px;
     margin-left: 20px;
     width: 700px;
     height: 420px;
     animation: shadAn 3s forwards;
     margin-bottom: 200px;
 }


 #hold {
     background-color: black;
     width: 700px;
     height: 500px;
     margin-left: 800px;
     margin-top: -600px;
 }

 @keyframes shadAn {
     0% {
        box-shadow: 6px 5px 15px 1px black;
     }
     50% {
        box-shadow: 15px 20px 100px 4px blue;
     }
     100% {
        box-shadow: 6px 5px 15px 1px black;
     }
 }

 

 @media only screen and (max-width: 600px) {
    textarea {
        min-width: 320px;
        max-width: 320px;
    }

    #nameForm {
        width: 320px;
    }

    #emailForm {
        width: 320px;
    }

    #field {
        width: 345px;
        margin-left: 30px;
    }
}