#btn {
    margin-left: -1300px;
    margin-top: 220px;
    opacity: 0;
    animation: btnFade 2.5s steps(35, end) forwards;
    animation-delay: 4.5s;
}

#projectsBtn {
    margin-left: -1100px;
    margin-top: 115px;
    display: flex;
    opacity: 0;
    animation: btnFade1 2.5s steps(35, end) forwards;
    animation-delay: 4.5s;
}

@keyframes btnFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes btnFade1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    #btn{
        margin-left: -880px;
        margin-top: 580px;
    } 

@media only screen and (max-width: 1200px) {
    #btn{margin-left: -875px; margin-right: -40px;}
}

    #projectsBtn{
        margin-left: -450px;
        margin-top: 580px
    }
}