body {
    font-family: "Lato", sans-serif;
  }
  

  /* sideNavebar 
   .sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  #letters {
    padding: 40px 10px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  } */

  /* .home:hover {
    background-color: red;
  } */

  .sidenav {
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
  }
  
  #letters {
    padding: 16px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
  }

  .words {
      padding: 20px 0;
  }
  
  #letters:hover {
    color: #f1f1f1;
    text-shadow: 3px 2px blue;
    /* text-shadow: 3px 2px #818181; */
  }

  @media only screen and (max-width: 375mm) {
    #letters {margin: -18px;}
    .sidenav{margin-top: 20px;}
  }
  @media only screen and (max-width: 1200px) {
    #letters {font-size:16px;}
  }
