#portback {
    background-color: #1f1f1f;
    display: flex;
    height: 100%;
}

#portTitle {
  font-size: 40px;
  margin-left: 600px;
  margin-top: 20px;
  font-family: batmanforeveralternate;
    font-size: 60px;
    text-shadow: 3px 2px 6px black;
}

#proj1 {
background-image: url('../Style/pics/PortPic.png'); 
background-size: 500px 300px; 
box-shadow: 6px 5px 15px 1px black;
  width: 300px;
  height: 300px;
  padding: 50px;
  margin: 20px;
  margin-top: 60px;
  display: flex;
}

#proj1:hover {
  box-shadow: 2px 0px 8px 7px gray;
}

#proj2 {
  background-image: url('../Style/pics/PortPic1.png');
  background-size: 350px 300px;
  box-shadow: 6px 5px 15px 1px black;
  width: 300px;
  height: 300px;
  padding: 50px;
  margin: 20px;
  margin-left: 380px;
  margin-top: -318px;
  display: flex;
}

#proj2:hover {
    box-shadow: 2px 0px 8px 7px gray;
}

.darkProj {
  opacity: .6;
}

.lightProj {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  #portTitle {
    margin-left: 150px;
    font-size: 30px;
  }

  #proj1 {
    margin-left: 100px;
  }

  #proj2 {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
  }
}
